*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}

.markdown-allComponet-holder{
    display: flex;
    flex-wrap: wrap;
}

.div_textarea{
    padding: 5px 10px;
}

#reset_textarea{
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 5px;
    background: #074482;
    color: white;
    cursor: pointer;
}

#textarea{
    min-width: 444px;
    border-radius: 10px;
    min-height: 444px;
    padding: 10px 15px;
    resize: none;
}

.heading{
    text-align: center;
}
.content-holder{
    flex:1;
}
#content{
    padding: 5px 20px;
    width: 100%;
    margin-top: 35px;
}

pre{
    background: #000;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 4px;
}

li{
    list-style-position: inside;
}

@media screen and (max-width:1024px) {
    #textarea{
        width: 100%;
    }
    .markdown-allComponet-holder{
        flex-direction: column;
    }
}